<div id="footer">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p align="center" style="color:white;"><a href="http://gosell.co">GoSell &copy; 2016</a>
        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="http://gosell.co/support">Contact Support</a>
        <%= " - - (Viewing in Development)" if Rails.env.development? %></p>
    </div>
  </nav>
</div>