<br>

<div class="container">
  <div class="jumbotron">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Prospect</h3>
      </div>
      <div class="panel-body">
        <%= render 'form', prospect: @prospect %>
      </div>
    </div>

    <%= link_to 'Back', prospects_path %>
  </div>
</div>