/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// The following 63 lines ovveride the media width to collapse so that the nav does not break due to search bars when using a tablet or other smaller screen
@media (min-width: 768px) and (max-width: 1050px) {
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }
        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            /*margin: 7.5px -15px;*/
            margin: 7.5px 50px 7.5px -15px
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in { 
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }
    
body { 
  padding-top: 50px;
  background-color: lavender;
}
// body { background-image:url('http://dreamtemplate.com/dreamcodes/bg_images/wood/w15.jpg'); }

.panel { background-image:url('http://dreamtemplate.com/dreamcodes/bg_images/wood/w15.jpg'); }

.navbar-brand { 
  padding: 8px 15px;
} 

#footer .navbar { 
  min-height:20px !important;
  max-height: 21px;
}

#agent-view #panel-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: -17px;
  margin-right: -14px;
  border-left-width: 0;
  border-right-width: 0;
}

hr {
 margin: 10px;
 border-color: #A9A9A9;
}

.right {
text-align: right;
}

.left {
text-align: left;
}

.center {
text-align: center;
}

#agent-view .row {
 padding-top: 4px;
 padding-bottom: 4px;
}

.btn-linkedin {
    background: #4875B4;
    color: #ffffff;
}

.btn-facebook {
    background: #3B5998;
    color: #ffffff;
}

.alert {
    height: 25px;
    margin: 0;
    padding: 0 0 0 20px;
}

/*reduce text size on mobile devices*/
@media (max-width: 768px) { #mobile-text { font-size: .8em;}}